DatabaseUp/obj/DatabaseUp.csproj.nuget.dgspec.json
DatabaseUp/obj/project.assets.json
DatabaseUp/obj/project.nuget.cache
DatabaseUp/obj/Debug/net8.0/DatabaseUp.AssemblyInfo.cs
DatabaseUp/obj/Debug/net8.0/DatabaseUp.AssemblyInfoInputs.cache
DatabaseUp/obj/Debug/net8.0/DatabaseUp.assets.cache
